%h1
  = @org.name
.container
  .row
    .col-lg-9
      .row
        .col-lg-12
          = render 'on_tap'

      .row
        .col-lg-12
          = render 'previous_kegs'


    .col-lg-3
      %h3 Keg Masters
      %hr