%h1
  = @org.name
.container
  .row
    .col-lg-9
      .row
        .col-lg-12
          = render 'on_tap'

      .row
        .col-lg-12
          = render 'kegs_list', title: "Keg Backlog", kegs: @org.kegs.backlogged

      .row
        .col-lg-12
          = render 'kegs_list', title: "Previous Kegs", kegs: @org.kegs.finished


    .col-lg-3
      %h3 Keg Masters
      %hr