
ul.member-list {
  li {
    margin-bottom: 1em;
  }

  .member-avatar {
    height: 25px;
    width: 25px;
    border: none;
  }

}

.org-row {
  margin-bottom: 2em;

  .user-avatar {
    height: 25px;
    width: 25px;
  }
}
