/* Slate
 * Bootswatch
 *= require_self
 *= require slate/loader
 *= require slate/bootswatch
*/

body {
  padding-top: 50px;
}

.beer-table td.mid {
  vertical-align: middle;
}

.on-tap.panel .panel-heading {
  padding-top: 1em;
}
