%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 40px;'}
  = "Hey Kegmeister"
%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 30px;'}
  Replace the empty keg already... Its bothering me...

%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 24px;'}
  Cheers,
  %br
    = "#{@user.name} and the Keg Up Team"

