%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 40px;'}
  Fellow Beer Drinker,
%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 30px;'}
  = "#{@beer.name} has been tapped on #{@tap.name} at #{@org.name}!"

%p{:style => 'font-family: Arial; font-size: 12px; color: #4a545f; line-height: 15px; margin: 0 0 10px 0; text-align: left;color: #7c8691; font-size: 13px; line-height: 13px; margin-bottom: 0; margin-top: 24px;'}
  Cheers,
  %br
    The Keg Up Team

